       <%- include('header') %>
        
        <h2> 
            Admin Categorias:
            <a href="/admin/categorias/nova">Nova Categoria</a>
        </h2>
         <div>
            <ul>
               
            </ul>
         </div>
        
<%- include('footer') %>

        
        