        <%- include('header') %>
        
        <h2> 
            Nova Categoria :
            <a href="/admin/categorias">Categorias</a>
        </h2>
         <div>
              
         </div>
        
<%- include('footer') %>
